<!DOCTYPE html>
<html lang="en">
    {% block head %}
    <head>
        {% block head_content %}
            <title>ESME Air Pollution Prediction</title>
        {% endblock %}
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}>
        <meta charset="UTF-8">
    </head>
    {% endblock %}
    {% block body %}
    <body>
        <!-- Site navigation menu -->
        <ul class="mynavbar">
            <li><a href="/">Home</a>
            <li><a href="map">Map</a>
            <!-- <li><a href="log">Logs (dev)</a> -->
        </ul>
        <h1 class="page_title">Predicting the air pollution in cities with Deep Learning</h1>

        {% block body_content %}
        {% endblock %}

        <footer>
            <span>ESME - Kalani CHANFOUR, Laurent NOPOLY, Robin LOTODE - 2024</span>
        </footer>

    </body>
    {% endblock %}
    {% block functions %}
    {% endblock %}
</html>